body {
  padding: 25px 50px 25px 50px;
  font-family: 'Bungee Hairline', cursive;
  color: black;
  font-weight: bold;
}
h1 {
  font-size: 80px;
}
h1, h3{
  font-family: 'Bungee Inline', cursive;
}
.ordererInput {
  border-radius: 3px;
  border: solid .5px black;
  width: 300px;
  margin-bottom: 3px;
}
#pizzaShop {
  font-size: 30px;
}
